registry=https://registry.npmjs.org/
@kaminrunde:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=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
# var for scripts (test:file) tf ~ testfile
tf=* # npm run test:tf --tf=Footer